var NewCompetitionForm = React.createClass({
  getInitialState: function() {
    return {
      category: ""
    }
  },

  handleChange: function(e){
    this.setState({category: e.target.value});
  },

  render: function() {
    var chosenCategory = this.state.category;
    var stepTwo;

    if (chosenCategory === "Knockout") {
      stepTwo = (
        <NewKnockout competition={this.props.competition} key={'knockout'} />
      )
    } else if (chosenCategory === "League") {
      stepTwo = (
        <NewLeague competition={this.props.competition} key={'league'} />
      )
    };

    return (
      <div>
        <h1>Create Competition Form</h1>

          <input name='name' placeholder='Name your competition'
          value={this.props.competition.name} />
          <select name={this.props.competition.sport_id}>
            <option value="">Which Sport?</option>
            <option value='1'>Tennis</option>
            <option value='2'>Table-Tennis</option>
            <option value='3'>Squash</option>
          </select>
          <select name={this.props.competition.category} onChange={this.handleChange}>
            <option value="">Competition Type</option>
            <option value="Knockout">Knockout</option>
            <option value="League">League</option>
          </select>
          <div>
            { stepTwo }
          </div>
          <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
    <label class="control-label select optional label-style" style="margin-top: 0px">Choose your players</label>
    <br>
    <select class="col-xs-12 form-control select optional chosen-select individual-chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
      <% current_user.friends.each do |friend| %>
        <option value="<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %>
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul class="competition-new-participants"></ul>
  </div>
</div>

<input type='submit' value='Create Competition' className='competition-new-btn btn-individual' />
        </form>

      </div>
    );
  }
})
