/* -------------------------------------
 * Fonts
 * ------------------------------------- */

// Font-size and line-height
$base-size:          16px;
$base-height:        1.4;
$font-weight-light:  100;
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold:   900;


// Local fonts (uncomment following lines)
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirLight.eot');
  src: font-url('Avenir/AvenirLight.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirLight.woff') format('woff'),
       font-url('Avenir/AvenirLight.woff2') format('woff2'),
       font-url('Avenir/AvenirLight.ttf') format('truetype');
  font-weight: $font-weight-light;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMedium.eot');
  src: font-url('Avenir/AvenirMedium.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMedium.woff') format('woff'),
       font-url('Avenir/AvenirMedium.woff2') format('woff2'),
       font-url('Avenir/AvenirMedium.ttf') format('truetype');
  font-weight: $font-weight-normal;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirSemiBold.eot');
  src: font-url('Avenir/AvenirSemiBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirSemiBold.woff') format('woff'),
       font-url('Avenir/AvenirSemiBold.ttf') format('truetype');
  font-weight: $font-weight-semi-bold;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirBold.eot');
  src: font-url('Avenir/AvenirBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirBold.woff') format('woff'),
       font-url('Avenir/AvenirBold.woff2') format('woff2'),
       font-url('Avenir/AvenirBold.ttf') format('truetype');
  font-weight:  $font-weight-bold;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMediumItalic.eot');
  src: font-url('Avenir/AvenirMediumItalic.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMediumItalic.woff') format('woff'),
       font-url('Avenir/AvenirMediumItalic.woff2') format('woff2'),
       font-url('Avenir/AvenirMediumItalic.ttf') format('truetype');
  font-style: italic;
}

// Fonts family
$base-font: "Avenir", "Helvetica", "sans-serif";
$header-font: $base-font;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: rgb(83, 199, 92);

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$green: rgb(101, 208, 110);
$green2: rgba(83, 199, 92, 0.7);
$brey: rgb(30, 42, 56);
