/* Top section (name + info) */
#competition-show-name h1 {
  text-align: center;
  color: #5EABE9;
  font-weight: bolder;
  font-size: 55px;
  padding-top: 10px;
  padding-left: 50px;
}

#competition-show-info {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 1px 1px 3px  #bfbfbf;
  p {
    font-size: 13px;
  }
}

/* Middle section (competition table) */
.wrapper-competition-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.container-competition-table {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

@media all and (max-width: 480px) {
  .container-competition-table {
    flex-direction: column;
    .flex-1 {
      width: 100%;
      margin-bottom: 25px;
    }
    .flex-2 {
      width: 100%;
      margin-bottom: 25px;
    }
    .flex-3 {
      width: 100%;
      margin-bottom: 25px;
    }
    .flex-4 {
      width: 100%;
      margin-bottom: 25px;
    }
    .flex-5 {
      width: 100%;
      margin-bottom: 25px;
    }
    .card-match {
      margin-bottom: 20px;
    }
    .match-label {
      display: block;
    }
  }
  .modal-content {
    table {
      border-collapse: collapse;
      border: 1px solid #CDCDCD;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      height: 50px;
      width: 240px;
      height: 160px;
      td input {
        width: 36px;
        height: 36px;
        font-size: 14px;
        text-align: center;
      }
      th, td {
        color: #999;
        border: 1px solid #CDCDCD;
        padding: 2px 2px;
        border-collapse: collapse;
        text-align: center;
        font-size: 12px;
      }
      th {
        font-weight: 600;
      }
    }
  }
}

.enter-score-table {
  text-align: center;
}

.match-label {
  display: none;
  color: grey;
  font-size: 12px;
}
/* Choice of flex for Knockout competition dependent on size of competition */
.flex-1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}

.flex-4 {
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: space-around;
}

.flex-5 {
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: space-around;
}

.flex-6 {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-around;
}

/* Result input btn for knockout only (league btn in _league-fixtures.scss) */
.result-input-btn {
  background-color: #58D063;
  color: white;
  text-decoration: none;
  width: 100% !important;
}
.result-input-btn:hover {
  background-color: #58D063;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 3px #d9d9d9;
}

.participants {
  background-color: white;
  box-shadow: 1px 1px 3px  #bfbfbf;
  min-height: 59vh;
}



