.competition-creation-form {
  font-size: 30px;
  font-weight: 800;
  background-color: $green2;
  color: $brey;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(80,80,80,0.5);
  line-height: 2;
  margin: 30px 200px 50px 200px;
  select {
    color: grey;
    background-color: transparent;
    font-weight: 500;
    margin: 0px 5px 0px 5px;
    border: 0px;
    option {
      background-color: $green;
      color: $brey;
    }
  }
  select:focus {
    outline: none;
  }
  input {
    line-height: 1.4;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
  }
  input:focus {
    outline: none;
  }
}

.form-title {
  font-size: 40px;
  font-weight: 1200;
  color: $brey;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.competition-new-title h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  margin: 30px 0 30px 0;
}

.competition-new-board {

  border-radius: 2px;
  padding-bottom: 30px;
  margin-bottom: 100px;

  h3 {
    text-align: center;
    color: #5EABE9;
    margin-bottom: 35px;
  }
  h6 {
    font-weight: bolder;
    margin-top: 30px;
  }

  .label-style {
  font-size: 14px;
  margin-top: 25px;
  }

  .competition-new-btn {
    background-color: #58D063;
    opacity: 0.9;
    color: white;
    margin: 20px;
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(80,80,80,0.25);
      &:hover {
    background-color: #38c746;
    box-shadow: 1px 1px 3px rgba(80,80,80,0.5);
    }
    margin-top: 25px;
    padding: 10px 60px;
  }

  .btn-individual {
  margin-top: 15px;
  }

  .competition-new-participants {
    margin-top:20px;

    li {
    list-style: none;
    display: inline;
    margin: 0 5px 0 5px;

      .competition-new-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba(80,80,80,0.25);
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
}

.margin-me {
  margin-bottom: 30px;
}

.margin-me-individ {
  margin-bottom: 15px;
}

