.competition-creation-background {
  background: url('competition-new-background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: 50% 30%;
  min-height: 100vh;
}

.container-competition-creation h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin: 30px;
}

.competition-creation-container {
  background-color: white;
  border-radius: 4px;
  min-height: 60vh;
}

.competition-creation-container h3 {
  text-align: center;
  font-size: 30px;
  color: #5EABE9;
}

