/* Top section (name + info) */
#competition-show-name h1 {
  text-align: center;
  color: #5EABE9;
  font-weight: bolder;
  font-size: 55px;
  padding-top: 10px;
  padding-left: 50px;
}

#competition-show-info {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 1px 1px 3px  #bfbfbf;
  p {
  font-size: 13px;
  }
}

/* Middle section (competition table) */
.wrapper-competition-table {
  background-color: white;
  margin: 0 100px 20px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-competition-table {
  height: 68vh;
  width: 100%;
  box-shadow: 1px 1px 3px #bfbfbf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: space-around;
}

.flex-4 {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
}

.flex-5 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-around;
}

.flex-6 {
  display: flex;
  flex-direction: column;
  width: 16.6%;
  justify-content: space-around;
}

.flex-7 {
  display: flex;
  flex-direction: column;
  width: 14.2%;
  justify-content: space-around;
}

.flex-8 {
  display: flex;
  flex-direction: column;
  width: 12.5%;
  justify-content: space-around;
}

.flex-9 {
  display: flex;
  flex-direction: column;
  width: 11.1%;
  justify-content: space-around;
}

.result-input-btn {
  background-color: #58D063;
  color: white;
  text-decoration: none;
}
.result-input-btn:hover {
  background-color: #58D063;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 3px #d9d9d9;
}

/* Lower section (chatbox + participants) */
#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

#new_message {
  margin-left: 55px;
  margin-right: 40px;
}

#message_body {
  background-color: #F6F6F6;
}

.chatbox {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightgray;
  max-height: 70vh;
}

#messages {
  background-color: #F6F6F6;
  border-radius: 1px;
  height: 30vh;
  overflow-x: hidden;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  margin-left: 5px;
}

#message-list {
  list-style-type: none;
  margin-left: -30px;
}

.participants {
  background-color: white;
  box-shadow: 1px 1px 3px  #bfbfbf;
  min-height: 59vh;
}

.champion {
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,128,214,0.6) 0%, rgba(186,166,24,0.6) 50%), url('champion.jpeg');
  padding: 5px;
  padding-top: 60px;
  // line-height: 0.5;
  color: white;
  margin-top: -170px;
  height: 120px;
  width: 220px;
  // background-color: #FED83E;
  box-shadow: 0px 0px 3px 3px #B7BA5D;
}
