/* Top section (name + info) */
#competition-show-name h1 {
  text-align: center;
  color: #5EABE9;
  font-weight: bolder;
  font-size: 55px;
  padding-top: 10px;
  padding-left: 50px;
}

#competition-show-info {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 1px 1px 3px  #bfbfbf;
  p {
    font-size: 13px;
  }
}

/* Middle section (competition table) */
.wrapper-competition-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.container-competition-table {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

/* Choice of flex for Knockout competition dependent on size of competition */
.flex-1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}

.flex-4 {
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: space-around;
}

.flex-5 {
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: space-around;
}

.flex-6 {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-around;
}

/* Result input btn for knockout only (league btn in _league-fixtures.scss) */
.result-input-btn {
  background-color: #58D063;
  color: white;
  text-decoration: none;
  width: 100% !important;
}
.result-input-btn:hover {
  background-color: #58D063;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 3px #d9d9d9;
}


/* Right section (chatbox) */
#messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

#new_message {
  margin-left: 55px;
  margin-right: 40px;
}

#message_body {
  background-color: #F6F6F6;
}

.chatbox {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightgray;
  max-height: 70vh;
}
.message-block {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.message-bubble {
  min-height: 70px;
  padding: 10px;
  background: rgba(88, 208, 99, 0.15);
  flex: 1;
  margin: 10px;
  margin-top: 0;
  border-radius: 0 12px 12px 12px;
}

.message-bubble-user {
  min-height: 70px;
  padding: 10px;
  background: rgba(113, 208, 201, 0.15);
  flex: 1;
  margin: 10px;
  margin-top: 0;
  border-radius: 12px 0 12px 12px;
}

.timestamp {
  text-align: center;
}

.message-user {
  font-size: 13px;
}
#messages {
  /* background-color: #F6F6F6; */
  /* border-radius: 1px; */
  height: calc(100vh - 300px);
  overflow-x: hidden;
  /* border-style: solid; */
  /* border-color: #CCCCCC; */
  /* border-width: 1px; */
  margin-left: 5px;
}

.chat-header {
  padding: 10px;
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
}

#message-list {
  list-style-type: none;
  margin-left: -30px;
}

.participants {
  background-color: white;
  box-shadow: 1px 1px 3px  #bfbfbf;
  min-height: 59vh;
}



