html {
  height: 100%;
}

body {
  background-color: #E9EBEE;
  min-height: 100%;
}

.row {
  width: 100%;
}

.competition-new {
  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ),
        url('competition-new-background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: calc(100vh - 70px);
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
}




// landing main
.landing-main {
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.2) 30%, rgba(46,46,46,0.2) 80%), url('landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}
.landing-header {
  padding: 15px 35px;
  img {
    width: 130px;
  }
  a {
    color: white;
    font-weight: lighter;
    font-size: 15px;
  }
}
.landing-headline {
  text-align: center;
  margin-top: 150px;
  color: white;
  h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
  p {
    opacity: 0.7;
    font-size: 30px;
    font-weight: lighter;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}
.landing-btn {
  color: white;
  font-size: 20px;
  opacity: 0.9;
  background-color: $green;
  padding: 12px 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-top: 50px;
  border-radius: 2px;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #50BF5B;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
}

// landing how it works
.landing-how {
  h2 {
    text-align: center;
  }
}
.landing-icons {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 130px;
    margin-bottom: 35px;
  }
    li {
      margin: 20px 0;
      h4 {
        font-weight: lighter;
      }
    }
}
.landing-future {
  margin-top: 75px;
  img {
    width: 40px;
    margin-left: 40px;
  }
  h5 {
    margin-right: 40px;
  }
}
