html {
  height: 100%;
}

body {
  background-color: #EFEFEF;
  min-height: 100%;
}

.competition-new {
  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ),
        url('competition-new-background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: calc(100vh - 70px);
}

.container {
  width: 100%;
  padding: 0;
}

.home-page-background {
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.4) 30%, rgba(46,46,46,0.4) 80%), image-url('champion.jpeg');
  background-size: cover;
  background-position: 50% 30%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
  p {
    font-size: 30px;
    opacity: 0.7;
    font-weight: lighter;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}

// h1 {
//   color: white;
//   font-size: 80px;
//   font-weight: 900;
//   // font-family: 'Coda', cursive;
// }

// h3 {
//   color: white;
//   font-size: 50px;
//   font-weight: 700;
//   // font-family: 'Coda', cursive;
// }

.home-signup-btn {
  background-color: #53C75C;
  opacity: 0.9;
  color: white;
  border: none;
  width: 180px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(80,80,80,0.25);
  font-size: 19px;
  font-weight: bold;
  margin-top: 15px;

  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 3px rgba(80,80,80,0.5);
  }
}

.home-content {
  padding-bottom: 100px;
}
