// Newsfeed
.newsfeed-container {
  flex: 0 0 65%;
}

.newsfeed-content {
  margin: 30px 15px;
  flex-direction: column;
}

.newsfeed-card {
  background-color: white;
  border-radius: 2px;
  width: 700px;
  min-height: 3em;
  margin: 5px;
}

//Venuesearch
.venuesearch-container {
  flex: 0 0 25%;
}

.venuesearch-content {
  margin: 30px 15px;
}
