.profile-banner {
  background-color: #404040;
  height: 30vh;

  .profile-banner-left {
    display: flex;
    align-items: center;
    margin: 29px 0;

    img {
      width: 12vw;
      border-radius: 50%;
    }

    ul {
      list-style: none;
      color: white;
      padding-left: 15px;

      li {
        text-decoration: none;
        margin: 10px;
        h4, p {
          font-weight: lighter;
        }
      }
    }
  }
}


// .profile-banner {
//   background-color: #404040;
//   height: 30vh;

//   .profile-banner-left {
//     display: flex;
//     align-items: center;
//     margin: 20px 0;

//     img {
//       width: 24vh;
//       height: auto;
//       border-radius: 50%;
//     }

//     ul {
//       list-style: none;
//       padding-left: 20px;
//       margin-bottom: 60px;
//       color: white;
//     }

//     li {
//       margin-bottom: 16px;
//     }

//     .fa-map-marker {
//       font-size: 20px;
//     }
//   }

//   .profile-banner-right {
//     height: 100%;
//     margin: 30px 0;
//     background-color: white;
//     height: 160px;
//     border-radius: 3px;
//   }

// }

// .profile-tabs {
//   background: transparent;
//   display: flex;
//   margin-top: 15px;
// }

// .profile-tabs a {
//   color: white;
//   cursor: pointer;
// }

// .profile-tabs a:hover {
//   text-decoration: none;
//   opacity: 0.8;
// }

// .profile-tab {
//   background-color: #CACACA;
//   flex: 0 0 25%;
//   text-align: center;
//   padding: 5px 0;

//   &:first-child {
//     border-radius: 4px 0 0 0;
//   }
//   &:last-child {
//     border-radius: 0 4px 0 0;
//   }
//   &.active {
//     background-color: #65D06E;
//   }
// }

// .profile-tabs-container {
//   background-color: white;
//   border-radius: 0 0 3px 3px;
//   min-height: 50vh;
// }
