#league-table-avatar {
  display: flex;
  justify-content: space-around;
  padding: 1px;
}

.header-league {
  background-color: rgba(141, 218, 147, 0.5)
}

.league-table {
  border-collapse: collapse;
  margin: 30px auto;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  td input {
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
  }
  th, td {
    color: #999;
    border: 1px solid #CDCDCD;
    padding: 5px 20px;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
  }
  thead {
    font-weight: 800;
    background-color: rgba(83, 199, 92, 0.5);
  }
  span {
    padding-top: 11px;
    padding-left: 6px;
  }
}

.league-table-player {
  display: flex;
  justify-content: left;
  text-align: center;
  padding-left: 10px;
}

.league-final-score {
  display: flex;
  justify-content: space-around;
  width: 350px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 1px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 2px;
}
