<div class="champion">
  <% if match.winner %>
  <%= link_to user_path(match.winner), "data-toggle" => "tooltip", title: "#{match.winner.full_name}" do %>
  <div class="avatar-div" style="background-image: url('<%= cl_image_path(match.winner.photo.path) %>')">
  </div>
  <% end %>
  <% end %>
  <div>
    <p>is the CHAMPION!</p>
  </div>
</div>
ß
