<li id="<%= friend.id %>">
  <% if friend.profile_picture %>
    <% friend_profile_picture = cl_image_path(friend.profile_picture.path, crop: :thumb, gravity: :face) %>
  <% else %>
    <% friend_profile_picture = image_path('profile-avatar-default.jpg') %>
  <% end %>
  <%= image_tag friend_profile_picture, class: 'competition-new-avatar' %>
</li>
