<div class="fixtures-header">
  <h4><strong>League Fixtures/Results</strong></h4>
</div>
<div class="fixtures-display">
  <div class="tabs">
    <% @competition.players.each do |player| %>
    <a class="fixtures-tab" data-target=<%= "##{player.first_name}" %>>
      <h4><%= player.first_name %></h4>
    </a>
    <% end %>
  </div>

  <div class="league-fixtures">
    <%= react_component "FixtureList",
        render(template: 'matches/index.json.jbuilder'),
        prerender: true %>

    </div>


</div>


