<div class="row">
  <div class="col-xs-12">
    <h3>Invite the participants</h3>
  </div>
</div>

<div class="col-md-3">

    <label class="control-label select optional label-style" for="competition_number_of_players">Choose a # of teams:</label>

     <select class="form-control select optional" name="competition[number_of_teams]" id="competition_number_of_teams"><option value=""></option>
       <option value="2">2</option>
       <option value="4">4</option>
       <option value="8">8</option>
       <option value="16">16</option>
       <option value="32">32</option>
     </select>
</div>
<div class="row">
  <% Sport.all.each do |sport| %>
  <div class="col-md-12 text-center hide team-dropdown-selection" id="dropdown-selection-<%= sport.id %>">
   <select class="form-control select optional chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
    <% current_user.friend_captain_teams_for(sport).each do |team| %>
      <option value="<%= team.captain.id %>"><%= team.name %></option>
    <% end %>
    </select>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="competition-new-participants"></ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= f.button :submit, class: 'competition-new-btn' %>

  </div>
</div>
