<body class="competition-new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 competition-new-title">
        <h1>COMPETITION CREATION DESK</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 competition-new-board">
        <%= render 'individual_competition_new', competition: @competition %>
      </div>
    </div>
  </div>
</body>






<% content_for(:after_js) do %>
  <script>

    var friends_cards = {};
    var total_friends = <%= current_user.friends.count %>

    <% current_user.friends.each do |friend| %>
      friends_cards["<%= friend.id %>"] = "<%= j render 'friend_card', friend: friend %>"
    <% end %>

    $(document).ready(function () {
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '300px'
      });
      $('.chosen-select').chosen().change(function(){
        $(".competition-new-participants").empty();
        var delay=01;
        setTimeout(function() {
          $(".chosen-choices a").each(function(index, link){
            var playerIndex = parseInt($(link).attr("data-option-array-index"));
            var id = $(".chosen-select option").eq(playerIndex).val();
            $(".competition-new-participants").append(friends_cards[id]);
          });
        }, delay);

     })
    });
  </script>
<% end %>


