<h1>Competition <%= @competition.id %></h1>
<div class="container-competition">
<div class="row">
  <% @competition.matches.first(@competition.number_of_players / 2).each do |match| %>

      <div class="card-match col-xs-6 col-sm-3 col-md-1">
        <h5>Match <%=match.match_number %></h5>
        <p>Round <%= match.round %></p>
      </div>
      <% end %>
    </div>

</div>

