<div class="col-xs-12 footer-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2 flexbox-between" style="margin-top: 20px;">
    <div class="footer-list flexbox-center">
      About
    </div>
    <div class="footer-list flexbox-center">
      Contact
    </div>
    <div class="footer-list flexbox-center">
      Community
    </div>
    <div class="footer-list flexbox-center">
      Connect
    </div>
  </div>
</div>
