<div class="home-page-background">

  <div class="home-content">
    <h1>onTop</h1>
    <h3>COMPETE LIKE THE PROS</h3>
    <div class="home-buttons">
      <div class="signup">
        <%= button_to "Sign Up", new_user_registration_path, class: "navbar-competition-btn", method: :get %>
      </div>
      <div class="login">
      <%= button_to "Log In", new_user_session_path, class: "navbar-team-btn", method: :get %>
      </div>
    </div>
  </div>

</div>
