<div class="home-page-background">

  <div class="home-content">
    <h1>onTop</h1>
    <h3>COMPETE LIKE THE PROS</h3>
    <div class="home-buttons form-inline">
      <%= button_to "Sign Up", new_user_registration_path, class: "home-signup-btn", method: :get %>
    </div>
  </div>

</div>
