<div class="home-page-background">

  <div class="home-content">
    <h1>Compete like pros.</h1>
    <p>OnTop is the best competition manager.</p>
    <div class="home-buttons form-inline">
      <%= button_to "Start now", new_user_session_path, class: "home-signup-btn", method: :get %>
    </div>
  </div>

</div>
