<div class="home-page-background">

  <div class="home-content">
    <h1>Create.Compete.Compare.</h1>
    <p>Become the best player among your friends</p>
    <div class="home-buttons form-inline">
      <%= button_to "Start now", new_user_session_path, class: "home-signup-btn", method: :get %>
    </div>
  </div>

</div>
