.footer-container {
  background-color: $brey;
  color: white;
  height: 100px;
  font-weight: 100;
  font-size: 12px;
}

.footer-links {
    a {
      opacity: 0.4;
      color: white;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
    span {
      opacity: 0.4;
      margin: 0 5px 0 5px;
    }
}

.copyright {
  opacity: 0.8;
}

@media screen and (max-width: 736px) {
  .footer-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 1366px) {
  .footer-container {
    font-size: 11px;
  }
}
