<div class="modal fade" id=<%= "#{match.match_number}_link" %> tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <div class="text-center">
          <%= image_tag "score.png", width: "100px" %>
          <h4>Enter score</h4>
        </div>
      </div>
      <%= render "matches/#{@competition.sport.name.downcase}_score_form", match: match %>

      </div>
    </div>
  </div>

