<div class="modal fade" id=<%= "#{match.match_number}_link" %> tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter score:</h4>
      </div>
      <%= render "matches/#{@competition.sport.name.downcase}_score_form", match: match %>

      </div>
    </div>
  </div>

