/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 60px;
  z-index: 100;
}
.alert-info {
  background: #58D063;
}
.alert-warning {
  background: #FF3D42;
}

#sign-up {
  text-align: center;
  p {
    padding-top: 15px;
  }
}
