/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: #58D063;
}
.alert-warning {
  background: #FF3D42;
}

#sign-up {
  text-align: center;
  p {
    padding-top: 15px;
  }
}
