.card-match {
  padding: 5px;
  border: 1px solid #d9d9d9;
  line-height: 0.5;
  box-shadow: 1px 1px 3px #EFEFEF;
}

.card-blank {
  border-top: 2px solid #7F7F7F;
  border-bottom: 2px solid #7F7F7F;
  height: 60px;
}
