/* Final score display */
.score-form-tennis {
  display: flex;
  justify-content: center;
}

.highlight {
  background: #FED83E;
}

.loser {
  opacity: 0.4;
}

.final-score {
  border-collapse: collapse;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 90px;
  width: 100%;
  th, td {
    color: #999;
    border: 1px solid #CDCDCD;
    padding: 2px;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
  }
  th {
    font-weight: 600;
  }
}

