table {
  border-collapse: collapse;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10);
  th, td {
    color: #999;
    border: 1px solid #CDCDCD;
    padding: 5px 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
  }
  th {
    font-weight: 600;
  }
}
